@import "tailwindcss";
html,body{
    @apply m-0 p-0 box-border;
}

@layer components{
    /*<------------------- SplashScreen.jsx -------------------> */
    .x-shape,.o-shape{
        content: '';
        @apply size-[65px];
    }
   .x-shape{
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
   }
   .o-shape{
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        @apply rounded-full flex items-center justify-center;
    }
    .xo-container{
        @apply flex items-center justify-center gap-5 h-1/2;
        @apply lg:w-1/2 lg:h-full lg:gap-10 ;
    }
    .welcome-msg-container{
        @apply h-1/2 flex flex-col gap-8 items-center;
        @apply lg:h-full lg:w-1/2 lg:justify-center lg:gap-12;
    }

    @media (max-width:1024px) {
        .welcome-msg-container{
            &::before{
                content: '';
                @apply h-[5px] bg-gray-600 w-0;
                animation: expandWidth 1500ms linear forwards;
            }
        }
    }
    @media (min-width:1024px) {
        .welcome-msg-container{
            position: relative;
            &::before{
                content: '';
                @apply absolute left-0 w-[5px] bg-gray-600 h-0;
                animation: expandHeight 1500ms linear forwards;
            }
        }
    }
    @keyframes expandWidth {
        to{
            width: 80%;
        }
    }
    @keyframes expandHeight {
        to{
            height: 80%;
        }
    }
    .play-button{
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        @apply px-8 py-2 text-2xl text-white font-semibold rounded-[25px] w-max lg:text-3xl lg:px-10 cursor-pointer;
    }
    /*<------------------- TicTacToe.jsx -------------------> */
    .choice-container{
        @apply absolute top-0 z-50 w-full max-md:h-full bg-[#f9fafb] flex flex-col items-center justify-evenly md:w-[70%] md:left-[15%] md:right-[15%] md:top-[50px] md:h-[calc(100%-50px)] md:bg-[#f9fafbd5] md:rounded-t-[10px] md:backdrop-blur-[5px];
    }
    .choice-symbol-with-radio{
        @apply flex flex-col items-center gap-10;
    }
    .black-gradient{
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    }
}