@import "tailwindcss";
html,body{
    @apply m-0 p-0 box-border;
}

@layer components{
    .x-shape,.o-shape{
        content: '';
        @apply size-[65px];
    }
   .x-shape{
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
   }
   .o-shape{
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        @apply rounded-full flex items-center justify-center;
    }
    .play-button{
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        @apply px-8 py-2 text-2xl text-white font-semibold rounded-[25px];
    }
}